@model Product
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Add" asp-controller="Product" asp-area="Admin" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <div class="form-group">
        <label>Ürün Adı</label>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kategorİ</label>
        @Html.DropDownListFor(m => m.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Açıklama</label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="@Model.Price" class="form-control" />
    </div>

    <div class="form-group">
        <label>Puan</label>
        <input asp-for="@Model.Point" class="form-control" />
    </div>
    <div class="form-group">
        <label>Resim</label>
        <input asp-for="@Model.Image" class="form-control" />
    </div>
    <div class="form-group">
        <label for="statu">Aktiflik</label>
        <input type="checkbox" asp-for="@Model.Status" id="statu" class="form-check-label" />
    </div>
    @*<div class="form-group">
            <label>Ürün Resim</label>
            <input type="file" asp-for="@Model.Resim" class="form-control-file" />
        </div>*@
    <div class="form-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>

</form>

